.toolbar {
  position: fixed;
  height: 8rem;
  width: 100%;
  background-color: rgba(0, 16, 48, 0.9);
  border-color: #112233;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  backdrop-filter: blur(10px);
}
